.modau {
    text-align: center;
}

.modau a {
    font-size: 20px;
}
.modau a:hover {
    color: green;
    font-size: 30px;
}

.modau a:active {
    color: red;
    font-size: 30px;
}

.modau h1 {
    font-size: 40px;
}

.thongtin a:hover {
    color: green;
    font-size: 30px;
}

.thongtin a:active {
    color: red;
    font-size: 30px;
}

a img {
    width: 200px;
    border-radius: 15px;
}
