.modau {
    text-align: center;
}

.modau a {
    font-size: 20px;
}
.modau a:hover {
    color: green;
    font-size: 30px;
}

.modau a:active {
    color: red;
    font-size: 30px;
}

.modau h1 {
    font-size: 40px;
}
