.modau {
    text-align: center;
}

.modau a {
    display: inline-block;
    text-decoration: none;
    background-color: aqua;
    color: white;
    font-size: 20px;
    border-radius: 99999px;
    padding: 8px 16px;
    margin-top: 10px;
}
.modau a:hover {
    color: green;
    font-size: 30px;
}

.modau a:active {
    color: black;
    font-size: 30px;
}

.modau h1 {
    font-size: 40px;
}

.thongtin a {
    display: inline-block;
    text-decoration: none;
    background-color: aqua;
    color: white;
    font-size: 20px;
    border-radius: 99999px;
    padding: 8px 16px;
    margin-top: 10px;
}

.thongtin a:hover {
    color: green;
    font-size: 30px;
}

.thongtin a:active {
    color: black;
    font-size: 30px;
}

a img {
    max-width: 200px;
    border-radius: 50%;
    opacity: 10%;
}

a img:hover {
    opacity: 100%;
}

a img:active {
    border: 5px dotted aqua;
}

.fa-facebook {
    color: blue;
}

.fa-phone {
    color: green;
}
